<div class="page-container">
    <div class="page-command">
        <button type="button" class="btn btn-sm btn-success" busy="addPicture()">我要贴图</button>
    </div>
    <div class="iw_wrapper">
        <ul class="iw_thumbs" id="iw_thumbs">
            <li ng-repeat="image in pics">
                <img ng-click="changePic($event)" src="images/pic_wall/{{image.file_name}}" data-img="images/pic_wall/{{image.file_name}}" alt="Thumb10"/>
                <div>
                    <h2>{{image.uploader}}</h2>
                    <p>Far far away, {{image.message}}.</p>
                </div>
            </li>

        </ul>
    </div>

    <div id="js-imgview-mask" class="imgview-mask" style="display: none;" ng-click="closePic()"> <!-- 黑盒子 -->
    </div>
    <div id="js-imgview" class="show-img"> <!-- 显示的图片 -->
        <img id="bigimage">
        <a ng-click="closePic()">X</a>
    </div>

</div>