<div class="page-container">
    <h3>
        <i class="fa fa-image"></i>  e漫照片墙

        <span class="pull-right ng-binding">
            <button type="button" class="btn btn-sm" ng-show="in_edit"
                    ng-click = "cancelEdit()">取消</button>
            <button type="button" class="btn btn-sm btn-success" ng-show = "user && user.role === CONSTANT.USER_ROLE_ADMIN && !in_edit"
                    ng-click="showEdit()">管理</button>
            <button type="button" class="btn btn-sm btn-danger"  ng-show = "in_edit" busy="deletePicture()">删除</button>
            <button type="button" class="btn btn-sm btn-success" busy="addPicture()">
                <i class="fa fa-plus"></i>
                我要贴图
            </button>
        </span>
    </h3>
    <hr/>


    <div class="iw_wrapper">
        <ul class="iw_thumbs" id="iw_thumbs">
            <li ng-repeat="image in pics">
                <img ng-class="image.selected ? 'selected' : ''" ng-click="changePic($index)" ng-src="{{image.url}}" alt="{{image.caption}}"/>
                <div id="div_pic_info_{{image.id}}">
                    <p>{{image.uploader}}</p>
                </div>
            </li>

        </ul>
    </div>
</div>