<div class="page-container">
    <div class="page-command">
        <button type="button" class="btn btn-sm btn-success" busy="addPicture()">我要贴图</button>
    </div>
    <div class="iw_wrapper">
        <ul class="iw_thumbs" id="iw_thumbs">
            <li ng-repeat="image in pics">
                <img ng-click="changePic($index)" ng-src="{{image.url}}" alt="{{image.caption}}"/>
                <div>
                    <h2>{{image.uploader}}</h2>
                    <p>Far far away, {{image.message}}.</p>
                </div>
            </li>

        </ul>
    </div>
</div>