<div class="page-container">

    <h3>
        <i class="fa fa-home"></i>  哆啦e漫
    </h3>
    <hr/>

    <div class="homepate-features">

        <div id="home_main_image" class="row feature">
            <div class="col-sm-5" style="vertical-align:middle;">
                <img class="img" src="images/home/stand_by_me_index0.jpg" alt="Main" style="width: 100%; vertical-align:middle;">
            </div>
            <div class="col-sm-7 well">
                <p class="lead">我知道</p>
                <p>你有多么向往画面上的这个场景</p>
                <p>因为</p>
                <p class="lead">我也是</p>
                <br />
                <p class="lead">我知道</p>
                <p>你有多少次梦见自己就是那个黄衣服的二货</p>
                <p>因为</p>
                <p class="lead">我也是</p>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>

    <div class="homepage-animation">
        <h3 class="animation-title">给点阳光他就灿烂</h3>
        <video controls="controls"  id="opening-video" autoplay loop>
            <source src="images/home/main_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>
</div>

