<div class="page-container">

    <h3>
        <i class="fa fa-info"></i>  关于e漫
    </h3>
    <hr/>

    <div class="homepate-features">
        <div id="about" class="row feature">
            <div class="col-sm-5">
                <img class="img" src="images/dora_logo.png" alt="关于" style="width: 30%">
            </div>
            <div class="col-sm-7 well">
                <h2 class="featurette-heading">关于我们</h2>
                <br/>
                <p class="lead">哆啦A梦程序猿粉丝做了一个哆啦A梦的网站，希望大家喜欢。</p>
                <p class="lead">网站旨在分享各种好玩的哆啦A梦周边产品。</p>
                <p class="lead">如果本站任何侵犯您的权利的地方，请联系我<a href="mailto:gpshun@163.com">gpshun@163.com</a>，我必立刻马上进行处理。给您造成的不变，敬请见谅！</p>
            </div>
        </div>
    </div>
</div>
