<div class="page-container">
    <div class="homepate-features">
        <hr class="featurette-divider">
        <div id="about" class="row feature">
            <div class="col-sm-5">
                <img class="img" src="images/dora_logo.png" alt="关于" style="width: 30%">
            </div>
            <div class="col-sm-7 well">
                <h2 class="featurette-heading">{{user.user_name}}</h2>
                <br/>
                <p class="lead">Email: {{user.email}}</p>
            </div>
        </div>
    </div>
</div>